<form
  class="max-w-[700px] bg-slate-200 mt-7 p-7 rounded-lg space-y-10 font-bold text-base"
  [formGroup]="form"
  (Submit)="$event.preventDefault()"
>
  <div class="flex flex-col">
    <label for="notaExpActive"
      >De 1 a 10, qual foi sua experiência com a ActiveBI?
    </label>

    <mat-radio-group formControlName="notaExpActive">
      <mat-radio-button
        *ngFor="let nota of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
        [value]="nota"
      ></mat-radio-button>
    </mat-radio-group>

    <!-- <input
      *ngFor="let index of [].constructor(10); let i = index"
      type="radio"
      name="notaExpActive"
      [value]="i + 1"
      formControlName="notaExpActive"
    /> -->

    <div *ngIf="form.controls.notaExpActive.touched">
      <span *ngIf="form.controls.notaExpActive.hasError('required')"
        >O campo é obrigatório.</span
      >
    </div>
  </div>

  <div class="flex flex-col">
    <label for="notaExpConsultores"
      >De 1 a 10, qual foi sua experiência com nossos consultores?
    </label>

    <mat-radio-group formControlName="notaExpConsultores">
      <mat-radio-button
        *ngFor="let nota of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
        [value]="nota"
      ></mat-radio-button>
    </mat-radio-group>

    <div *ngIf="form.controls.notaExpConsultores.touched" class="text-red-700">
      <span *ngIf="form.controls.notaExpConsultores.hasError('required')"
        >O notaExpActive é obrigatório.</span
      >
    </div>
  </div>

  <div
    class="flex flex-col"
    *ngIf="form.value.notaExpConsultores && form.value.notaExpConsultores < 5"
  >
    <label for="experiencia">descreva sua experiência </label>
    <mat-form-field>
      <mat-label>descreva sua experiência</mat-label>
      <textarea
        matInput
        name="descrição"
        formControlName="descricaoExpClient"
      ></textarea>
    </mat-form-field>
    <!-- <input
      type="text"
      name="experiencia"
      formControlName="descricaoExpClient"
    /> -->
  </div>

  <div>
    <mat-form-field>
      <mat-label for="indicao">indicaria a acive BI?</mat-label>
      <mat-select formControlName="indicao">
        <mat-option value="true">SIM</mat-option>
        <mat-option value="false">NÃO</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <select name="indicao" formControlName="indicao">
      <option value="true">SIM</option>
      <option value="false">NÃO</option>
    </select> -->

    <div *ngIf="form.controls.indicao.touched" class="text-red-700">
      <span *ngIf="form.controls.indicao.hasError('required')"
        >O campo é obrigatório.</span
      >
    </div>
  </div>

  <div class="flex flex-col">
    <label for="experiencia"
      >Se te perguntassem sobre a Active BI, oque você responderia?</label
    >
    <mat-form-field class="example-full-width">
      <textarea
        formControlName="sobreActive"
        matInput
        name="experiencia"
      ></textarea>
    </mat-form-field>

    <div *ngIf="form.controls.sobreActive.touched" class="text-red-700">
      <span *ngIf="form.controls.sobreActive.hasError('required')"
        >O campo é obrigatório.</span
      >
    </div>
  </div>
  <button
    type="button"
    mat-raised-button
    (click)="handdleClick()"
    color="primary"
  >
    ENVIAR
  </button>
  <!-- <button type="button" (click)="handdleClick()">SUBMIT</button> -->
</form>
